
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="page-header" style="text-align: center">
        <h1>Aplikacja dla bliblioteki</h1>
        <hr/>
    <p>Wykorzystane technologie: ASP.NET MVC, MSSQL, Bootstrap</p>
    </div>
</div>